.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  color: rgb(242, 164, 125);
  height: 700px;
}

.loginpage_style{
  background-image: url('https://img.goodfon.com/original/1280x800/d/e5/listia-leaves-texture-fon-wood-doski-derevo-1.jpg');
  position: absolute; 
  height: 100%; 
  width: 100%; 
  background-size: cover; 
  background-position: center; 
  filter: blur(5px); 
  z-index: -1; 
}

.form_main_div {

  border-radius: 10px;
  padding: 45px;
  transition: transform 0.5s ease-in-out;
  transform: none;
}

.show-form {
  transform: rotateX(0deg) !important;
  background-color: rgba(244, 238, 235, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 20px #a3dd57;
}

.hide-form {
  transform: rotateY(360deg) !important;
  background-color: rgba(244, 238, 235, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 20px #86e34c;
}

.in_div {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;

}

.battn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.battn:hover {
  background-color: #0056b3;
}
