.haed_tag {
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;

}

.payment_button {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    width: 250px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.payment_button:active{
    border: 1px solid #bd744c !important;
}

a {
    text-decoration: none !important;

}

.goto_login {
    color: #bd744c !important;
}

.pymet_sub_btn{
    background-color: #bd744c;
    border: none;
    color: #f5f5f5;
}